{% extends 'base2.html' %}
{% block content %}
<div class="row">

    <div class="col-lg-8 mx-auto">
        <h1>Incomes</h1>
        <ul>
            {% for income in object_list %}
            <li>
                <a href="{% url 'my_finances:income_detail' income.id %}">
                    {{income.date|date}} - {{income.get_type_display}} - ${{income.value}} - {{income.repetitive}}
                    {% if income.repetitive %}
                    every {{income.repetition_time}} {{income.get_repetition_interval_display}}
                    {% endif %}
                </a>

            </li>
            {% empty %}
            <li>No incomes yet.</li>
            {% endfor %}
        </ul>

    </div>
</div>
{% endblock %}