alembic==1.6.5
anyio==3.6.1
asgiref==3.5.2
astroid==2.4.2
Authlib==1.1.0
Babel==2.9.1
backports.entry-points-selectable==1.1.0
BareNecessities==0.2.8
bcrypt==4.0.0
beautifulsoup4==4.11.1
blinker==1.4
cffi==1.15.1
cryptography==39.0.1
Django==4.1.7
django-recaptcha==3.0.0
greenlet==2.0.2
idna==3.4
lazy-object-proxy==1.4.3
Mako==1.2.4
MarkupSafe==2.1.2
Pillow==9.4.0
pycparser==2.21
python-dateutil==2.8.2
python-editor==1.0.4
pytz==2022.7.1
six==1.16.0
sniffio==1.3.0
soupsieve==2.4
SQLAlchemy==2.0.4
sqlparse==0.4.3
typing_extensions==4.5.0
tzdata==2022.7
wrapt==1.14.1
