{%load static %}

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'profile/css/style.css' %}" />
        <title>Todo List</title>
    </head>

    <body>
        <header class="header">
            <div class="container">
            	<a href="{%url 'website:index'%}" class="logo">Todo</a>
            	<nav class="nav">
	            	<a href="{%url 'website:index'%}"><i class="bi bi-house-fill"></i> Home</a>
	                {% if request.user.is_authenticated %}
		                	<a href="{% url 'accounts:profile' %}" title="Update my profile">Hi {{request.user | title}}</a>
	    	                <a href="{% url 'accounts:delete' %}" class="btn btn-outline">Delete</a>
	                {% else %}
							<a href="{% url 'accounts:login' %}" class="btn btn-outline">Login</a>
	            	        <a href="{% url 'accounts:register' %}" class="btn btn-primary">Join Now</a>
	                {% endif %}
	             </nav>
            </div>
        </header>
        <main>
            <div class="container">
            	{% if messages %}
				{% for message in messages %}
					<div class="alert alert-{{message.tags}}">
					       {{message}}
					     </div>
					   {% endfor %}
				{% endif %}

             {%block content %}
             {%endblock content%}
            </div>
        </main>
        <footer class="footer">
            <div class="container">
                <p>© Copyright {% now "Y" %} by <a href="https://www.pythontutorial.net">Python Tutorial</a></p>
            </div>
        </footer>
    </body>

</html>