{% extends 'base2.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">User Profile</h1>
                            </div>
                            <form class="user" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form|crispy }}
<!--                                     <label for="bio">Enable 2factor authentication:</label>-->
<!--                                    <label class="switch">-->
<!--                                        2FA-->
<!--                                      <input type="checkbox" class="form-control form-control-user" name='2FA' value="True">-->
<!--                                      <span class="slider round"></span>-->
<!--                                    </label>-->

                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Update Profile
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

    <!-- Rounded switch -->

